.image-container {
    perspective: 1000px;
}
img {
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
pointer-events: none;
user-select: none;
    width: 100px;
    height: 100px;
    animation: continuousFlip 3s linear infinite; /* Apply the continuous flip animation */
}

@keyframes continuousFlip {
    0% {
        transform: rotateY(0deg); /* Start with no rotation */
    }
    50% {
        transform: rotateY(180deg); /* Rotate 180 degrees halfway through the animation */
    }
    100% {
        transform: rotateY(360deg); /* Complete the full 360-degree rotation */
    }
}
